body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding-top: 70px;
}

.navbar {
  background: linear-gradient(45deg, #343a40, #212529);
}

#about img {
  border: 4px solid #ddd;
}

#about h1 {
  font-size: 2.5rem;
  color: #343a40;
}
#about p {
  font-size: 1.1rem;
  color: #555;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-title {
  letter-spacing: 1px;
  font-weight: bold;
  color: #343a40;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

footer a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

footer a:hover {
  text-decoration: underline;
  color: #ffc107;
}

#contact p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
